<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<div>
  <%= link_to 'Edit your profile', edit_user_path(@user) %>
</div>

<h1>Articles</h1>

<%= render 'articles/article' %>